/*Styling for index page*/

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(51, 51, 51);
}

#header {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}